<div class="flex justify-center items-center h-screen bg-gray-100">
    <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold text-center mb-6">Login</h2>
        <form class="space-y-4" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <mat-form-field appearance="fill" class="w-full mb-4">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Enter your email" required formControlName="email"/>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full mb-6">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter your password" required formControlName="password"/>
            </mat-form-field>

            <button mat-raised-button color="primary" class="w-full py-2">Login</button>

            <!-- Validations -->
            <div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)" class="text-red-500 text-sm mt-2">
                <div *ngIf="loginForm.controls['email'].hasError('required')">Email is required.</div>
                <div *ngIf="loginForm.controls['email'].hasError('email')">Invalid email format.</div>
                <div *ngIf="loginForm.controls['password'].hasError('required')">Password is required.</div>
                <div *ngIf="loginForm.controls['password'].hasError('minlength')">Password must be at least 6 characters long.</div>
            </div>
        </form>
    </div>
</div>
