#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -999;
    top: 0;
    left: 0;
    background-color: #ad1d7d;
  }
  
  .login-banner::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url('../../assets/undraw_add-files_d04y.svg') no-repeat center right;
    background-color: #f1f1f1;
    background-size: calc(100% - 40%) calc(100% - 40%);
    z-index: -99;
  }
  
  .form-container {
    padding: 80px 45px;
    border-radius: 8px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="password"],
  .form-container input[type="email"] {
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    height: 50px;
    color: #535353;
    border-radius: 3px;
    font-weight: 500;
    border: 1px solid #d3d3d3 !important;
  }
  
  //change background color of submit button when disabled
  .form-container form button:disabled {
    background-color: #d3d3d3 !important;
    cursor: not-allowed;
  }
  
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
  }
  
  .animate-shake {
    animation: shake 0.3s;
  }
  
  // Disabled class for the button
  .btn-disabled {
    background-color: #d3d3d3 !important;
    cursor: not-allowed;
    pointer-events: none;
  }