<div class="w-full bg-white p-8 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-4 text-black">Crear nueva Licencia</h1>

    <div class="border-b border-gray-300 mb-4"></div>
    <div class="flex flex-col items-center justify-center">
        <form class="w-full max-w-md" [formGroup]="licenseForm" (ngSubmit)="createLicense()">
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
                <input type="text" id="name" name="name" required
                    class="appearance-none border rounded w-full py-4 px-3  leading-tight focus:outline-none focus:shadow-outline"  
                    placeholder="Nombre de la licencia"
                    formControlName="name" />
            </div>

            <div class="mb-4"> 
                <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Descripción:</label>
                <textarea id="description" name="description" required
                    class="shadow appearance-none border rounded w-full py-4 px-3 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="Descripción de la categoría" formControlName="description"></textarea >
            </div>

            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">URL:</label>
                <input type="text" id="url" name="url" required
                    class="shadow appearance-none border rounded w-full py-4 px-3 leading-tight focus:outline-none focus:shadow-outline"
                    placeholder="Link de la URL"
                    formControlName="url" />
            </div>
            
            <div class="mb-4 flex items-center justify-end gap-4">
                <button type="submit"
                    class="!bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline flex items-center"
                    mat-raised-button>
                    <mat-icon class="mr-2">save</mat-icon>Crear Licencia
                </button>
                <button type="button" (click)="closeLicensesCreateDialog()"
                    class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cancelar</button>
            </div>
        </form>
    </div>
</div>