<div class="bg-white p-6 w-full rounded-md shadow-md">
    @if (isLoading) {
    <div class="loadingData flex items-center justify-center">
        <mat-spinner></mat-spinner>
    </div>
    }

    <div *ngIf="!isLoading" class="w-full">
        <h1 class="text-3xl font-bold mb-4 text-black">Administración de Recursos</h1>
        <!-- Divider -->
        <div class="border-b border-gray-300 mb-4"></div>

        <div class="mb-6">
            <div class="flex justify-end items-center mb-4">
                <button mat-raised-button
                    class="!bg-[#ad1d7d] flex py-2 !text-lg hover:!bg-[#505050] !text-white !rounded-md justify-center cursor-pointer hover:bg-[#303030]"
                    (click)="openResourcesCreateDialog()">
                    <mat-icon class="mr-2">post_add</mat-icon>
                    Agregar nuevo recurso
                </button>
            </div>

            <div class="table-container mt-6 overflow-x-auto">
                <table datatable [dtOptions]="dtOptions" class="row-border hover custom-data-table w-full">
                    <thead>
                        <tr>
                            <th class="pb-2">ID</th>
                            <th class="pb-2">Título</th>
                            <th class="pb-2">Descripción</th>
                            <th class="pb-2">Tipo</th>
                            <th class="pb-2">Categoría</th>
                            <th class="pb-2">Licencia</th>
                            <th class="pb-2">Usuario</th>
                            <th class="pb-2">Fecha de subida</th>
                            <th class="pb-2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let recurso of listResources">
                            <td>{{ recurso.id }}</td>
                            <td>{{ recurso.titulo }}</td>
                            <td>{{ recurso.descripcion }}</td>
                            <td>{{ recurso.tipo }}</td>
                            <td>{{ recurso.categoria?.nombre }}</td>
                            <td>{{ recurso.licencia?.nombre }}</td>
                            <td>{{ recurso.usuario?.nombre }}</td>
                            <td>{{ recurso.fechaSubida | date:'short' }}</td>
                            <td class="flex justify-center items-center gap-2">
                                <button mat-mini-fab
                                    class="cursor-pointer !bg-[#ad1d7d] !text-white !mat-elevation-z0 !rounded-md !shadow-none hover:!border-white hover:!border-2"
                                    (click)="openResourcesEditDialog(recurso)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-mini-fab
                                    class="cursor-pointer !bg-red-500 !text-white !mat-elevation-z0 !rounded-md !shadow-none hover:!border-white hover:!border-2"
                                    (click)="deleteResource(recurso.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
