<button mat-button [matMenuTriggerFor]="menu" class="!text-white">
  <img [src]="avatar" class="w-10 h-10 rounded-full" alt="Avatar" />
</button>

<mat-menu #menu="matMenu" class="!bg-[#fff9fbf9]">
  <div class="px-4 py-4 flex flex-col items-center text-center">
    <img [src]="avatar" class="w-16 h-16 rounded-full mb-2" alt="Avatar" />
    <div class="font-medium text-lg">{{ nombre }}</div>
    <div class="font-medium text-sm text-gray-500">{{ rol }}</div>
    <div class="font-medium text-sm text-gray-500">{{ email }}</div>
  </div>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLink="/perfil" (click)="redirectTo('perfil')">
    <mat-icon>person</mat-icon>
    <span>Perfil</span>
  </button>
  <button mat-menu-item routerLink="/preferences" (click)="redirectTo('preferences')">
    <mat-icon>settings</mat-icon>
    <span>Preferencias</span>
  </button>
  <button mat-menu-item routerLink="/informacion" (click)="redirectTo('informacion')">
    <mat-icon>info</mat-icon>
    <span>Información</span>
  </button>
</mat-menu>
